<div class="row">
    <div class="col-6 offset-3">
        <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="card">
                <div class="card-head">
                    <h1>Login to system</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input ngModel required minlength="6" #email="ngModel" type="text" class="form-control" name="email" id="email" aria-describedby="emailHId" placeholder="Email">
                      <small id="emailHId" *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="form-text text-muted">Email is invalid or empty</small>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input ngModel required minlength="6" type="password" #password="ngModel" class="form-control" name="password" id="password" aria-describedby="passwordHId" placeholder="Password">
                      <small id="passwordHId" *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-text text-muted">Password  is invalid or empty</small>
                    </div>
                    <div class="card-footer text-center">
                        <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                        <button [routerLink]="['/register']" class="btn btn-info" type="reset">Register</button>
                    </div>
                    <!-- <small id="passwordHId" *ngIf="!loginForm.valid" class="form-text text-muted">Password  is invalid or empty</small> -->
                </div>
            </div>
        </form>
    </div>
</div>