<div class="row">
    <div class="col-6 offset-3">
        <form id="registerForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="card">
                <div class="card-head">
                    <h1>Login to system</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input ngModel required minlength="6" #email="ngModel" type="text" class="form-control" name="email" id="email" aria-describedby="emailHId" placeholder="Email">
                      <small id="emailHId" *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="form-text text-muted">Email is invalid or empty</small>
                      <!-- <small  *ngIfThen="!email?.valid && (email?.dirty) ; then checkEmailExists(email)" class="form-text text-muted">Email is Exists</small> -->
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input ngModel required minlength="6" type="password" #password="ngModel" class="form-control" name="password" id="password" aria-describedby="passwordHId" placeholder="Password">
                      <small id="passwordHId" *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-text text-muted">Password  is invalid or empty</small>
                    </div>
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input ngModel minlength="6" maxlength="10" #phone="ngModel"  type="text"
                        class="form-control" name="phone" id="phone" aria-describedby="phoneHId" placeholder="Phone">
                        <small id="passwordHId" *ngIf="!phone?.valid  && (phone?.dirty || phone?.touched)" class="form-text text-muted">phone invalid</small>
                    </div>
                    <div class="form-group">
                      <label for="name">name</label>
                      <input ngModel #name="ngModel"  type="text"
                        class="form-control" name="name" id="name" aria-describedby="nameHId" placeholder="name">
                        <small id="passwordHId" *ngIf="!name?.valid  && (name?.dirty || name?.touched)" class="form-text text-muted">name invalid</small>

                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info">Register</button>
                    </div>
                    <!-- <small id="passwordHId" *ngIf="!loginForm.valid" class="form-text text-muted">Password  is invalid or empty</small> -->
                </div>
            </div>
        </form>
    </div>
</div>