<div>
    <form action="" (ngSubmit)="changeDetail(detailForm)" #detailForm="ngForm">
        <div class="form-group">
          <label for="productCode">Product Code:</label>
          <input  [(ngModel)]="product.productCode" type="text" class="form-control" name="productCode" id="productCode" aria-describedby="productHelpId" placeholder="Product Code">
          <small id="productHelpId" class="form-text text-muted">Product code is require {{ product.productCode }}</small>
        </div>
        <div class="form-group">
          <label for="productName">Product name:</label>
          <input [(ngModel)]="product.productName" type="text" class="form-control" name="productName" id="productName" aria-describedby="productNameHelpId" placeholder="Product name">
          <small id="productNameHelpId" class="form-text text-muted">Product name is require</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
    <hr>
    <p>{{ product | json }}</p>
</div>