<div class="car border">
    <div class="card-header d-flex justify-content-between">
        <h4 class="card-title">List Task</h4>
        <button class="card-title text-light bg-secondary" [routerLink]="['/task/create']">Create</button>
    </div>
  <div class="card-body">
    <table class="table text-center">
        <thead>
            <tr>
                <th>num</th>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <!-- <th>Created at</th>
                <th>Updated at</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="tasks && tasks.length">
            <tr  *ngFor="let task of tasks; let i = index" [ngClass]="{'bg-warning': task.status === TaskStatus.PENDING, 'bg-success': task.status === TaskStatus.SUCCESS}">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ TextTaskStatus[task.status] }}</td>
                <!-- <td>{{ task?.createdAt }}</td>
                <td>{{ task?.updatedAt }}</td> -->
      
                <td class="d-flex justify-content-around">
                    <div>
                        <button [routerLink]="" mat-button (click)="openDialog(task.id)" class="bg-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                          </svg>
                        </button>
                    </div>
                    <div >
                        <button [disabled]="task.status === TaskStatus.SUCCESS" [routerLink]="['/task/update/' + task.id]" class="bg-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>
                        </button>
                    </div>
                    <div>
                        <button [disabled]="task.status === TaskStatus.SUCCESS" [routerLink]="" class="bg-danger" (click)="deleteTask(task.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <mat-paginator *ngIf="page" [length]="page.totalItems" [pageIndex]="page.pageIndex" [pageSize]="page.pageSize" (page)="handlePage($event)"></mat-paginator>
</div>