<main>
  <!-- <table style="border: 1; width: 50%;">
    <tr>
      <td>ID</td>
      <td>First</td>
      <td>Last</td>
      <td>Year</td>
      <td>Passed</td>
    </tr>
    <tbody id="list">

    </tbody>
  </table> -->

  <div class="container">
    <header class="row text-uppercase d-flex justify-content-around">
      <h1>TODO WEB</h1>
    </header>
    <nav class="row">
      <nav class="nav d-flex justify-content-between">
        <!-- <a class="nav-link active" [routerLink]="['/product-list']" routerLinkActive="router-link-active" >Product List</a> -->
        <!-- <a class="nav-link" [routerLink]="['/product-detail']" >Product detail</a> -->
        <!-- <a class="nav-link" [routerLink]="['/admin']" >Admin dashboard</a> -->
        <!-- <a class="nav-link" [routerLink]="['/product-add']" >Add new product</a> -->
        <a class="nav-link" [routerLink]="['/task/list']" >List Task</a>
        <a class="nav-link" [routerLink]="['/login']" >Login</a>
        <a class="nav-link" [routerLink]="['/logout']" >Logout</a>
      </nav>
    </nav>
    <section class="row">
      <div class="col">
        <!-- <app-product-detail></app-product-detail>
        <app-product-list></app-product-list> -->
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</main>