<form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
    <div class="card border">
        <div class="card-header d-flex justify-content-between">
            <h4 class="card-title">Create task</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
              <label for="title">Name:</label>
              <input required formControlName="title" type="text" class="form-control" name="title" id="title" aria-describedby="titleHId" placeholder="Task title">
              <small *ngIf="!taskForm.get('title')?.valid && taskForm.get('title')?.touched" id="titleHId" class="form-text text-muted">Task name is require</small>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <input formControlName="description" type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHId" placeholder="Task description">
              <small *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" id="descriptionHId" class="form-text text-muted">Task description is require</small>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>