<div *ngIf="task">
    <div class="card-header d-flex justify-content-between">
      <h4 class="card-title">Update Task</h4>
      <button class="card-title text-light bg-secondary" [routerLink]="['/task/create']">Create</button>
    </div>
    <form action="" (ngSubmit)="updateTask(detailForm)"  #detailForm="ngForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="task.title" type="text" name="title" id="title" class="form-control" aria-describedby="titleHId">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input [(ngModel)]="task.description" type="text" name="description" id="description" class="form-control" placeholder="description" aria-describedby="descriptionHId">
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
        <br>
          <select name="status" id="status" [(ngModel)]="task.status" [ngClass]="{'bg-warning': task.status === TaskStatus.PENDING, 'bg-success': task.status === TaskStatus.SUCCESS}">
            <option *ngFor="let statusOj of TaskStatusOj" 
              [ngValue]="statusOj.status" [selected]="task.status === statusOj.status"
              [ngClass]="{'bg-warning': statusOj.status === TaskStatus.PENDING, 'bg-success': statusOj.status === TaskStatus.SUCCESS, 'text-light bg-dark': statusOj.status === TaskStatus.DELETE}"
            >
              {{statusOj.text}}
            </option>          
          </select>
        </div>
        <div class="form-group">
            <button [disabled]="taskStatusCurrent === TaskStatus.SUCCESS" class="btn btn-primary">Update</button>
            <button class="btn btn-primary" (click)="cancelTask()" >Cancel</button>
        </div>
    </form>
    <hr>
</div>