<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
    <div class="card">
        <div class="card-header">
            Add new products
        </div>
        <div class="card-body">
            <div class="form-group">
              <label for="productcode">Product code:</label>
              <input required formControlName="productCode" type="text" class="form-control" name="productCode" id="productcode" aria-describedby="productcodeHId" placeholder="Product code">
              <small *ngIf="!productForm.get('productCode')?.valid && productForm.get('productCode')?.touched" id="productcodeHId" class="form-text text-muted">Product code is require</small>
            </div>
            <div class="form-group">
              <label for="productName">Product name:</label>
              <input formControlName="productName" type="text" class="form-control" name="productName" id="productName" aria-describedby="productNameHId" placeholder="Product name">
              <small *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" id="productNameHId" class="form-text text-muted">Product name is require</small>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
